<div
  class="card"
  [ngClass]="{
    alive: character?.status?.toString() === 'Alive',
    dead: character?.status?.toString() === 'Dead',
    unknown: character?.status?.toString() === 'unknown',
  }"
  (click)="allInfo()"
>
  <shared-picture
    class="pict"
    [img]="character?.image ?? ''"
    [alt]="character?.name ?? ''"
  ></shared-picture>
  <div class="information">
    <span id="id"> # {{ character?.id }}</span>
    <h3>{{ character?.name | uppercase}}</h3>
    <span>{{ character?.created | date:'dd/MM/yyyy'}}</span>
    <span>{{ character?.origin?.name }}</span>
    <span>{{ character?.location?.name }}</span>
    <span>{{ character?.species }}</span>
    <span>{{ character?.gender }}</span>
    <span>{{ character?.status?.toString() }}</span>
  </div>
</div>
