
main{
  width: 97%;
  height: 72%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem;
  justify-content: space-around;
  overflow: hidden scroll;
  color: white;
  background-image: url(../../../../assets/Img/RickAndMorty.gif);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
main::-webkit-scrollbar{
  width: 0;
}
