
main{
  width: 90%;
  height: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem;
  justify-content: space-around;
  overflow: hidden scroll;
  color: white;
}
main::-webkit-scrollbar{
  width: 0;
}
