.pagination {
  width: 95%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  justify-content: space-between;
  margin-top: 8px;
  button {
    height: auto;
    padding: 1rem ;
    font-size: 90%;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 1rem;
    box-shadow:   0 0 5px 5px rgba(153, 255, 153, 0.6),  /* Capa de luz m%C3%A1s cercana (verde claro) */
                  0 0 20px 15px rgba(102, 255, 102, 0.5), /* Capa media (verde intermedio) */
                  0 0 40px 25px rgba(51, 204, 51, 0.4),  /* Capa exterior (verde m%C3%A1s oscuro) */
                  0 0 60px 35px rgba(0, 153, 0, 0.3);
    svg{
      fill: white;
    }
    &:disabled {
      border-radius: 1rem;
      cursor: not-allowed;
      font-weight: bold;
      box-shadow:   0 0 5px 5px rgba(15, 66, 15, 0.6),  /* Capa de luz m%C3%A1s cercana (verde claro) */
                  0 0 20px 15px rgba(1, 116, 1, 0.5), /* Capa media (verde intermedio) */
                  0 0 40px 25px rgba(51, 204, 51, 0.4),  /* Capa exterior (verde m%C3%A1s oscuro) */
                  0 0 60px 35px rgba(128, 226, 128, 0.3);
    }
  }
  span{
    color: white;
    text-align: center;
    margin-top: 1rem;
    box-shadow:   0 0 5px 5px rgba(153, 255, 153, 0.6),  /* Capa de luz m%C3%A1s cercana (verde claro) */
                  0 0 20px 15px rgba(102, 255, 102, 0.5), /* Capa media (verde intermedio) */
                  0 0 40px 25px rgba(51, 204, 51, 0.4),  /* Capa exterior (verde m%C3%A1s oscuro) */
                  0 0 60px 35px rgba(0, 153, 0, 0.3);
    background-color: transparent;
    border-radius: 1rem;
    padding: 0.4rem;
    font-weight: bold;
  }
}
