.wi-side{
  width: 18%;
}
.bg-black-super{
  width: auto;
  height: 99vh;
  margin-left: -1rem;
  background-image: url('../../../assets/Img/RickAndMorty.gif');
  background-size: cover;
  background-repeat: no-repeat;
}
.btn-menu{
  position: absolute;
  top: 0.5rem;
  left: 1rem;
}
.container{
  overflow: hidden scroll;
  scrollbar-width: none;
}
.main-content{
  margin-left: 2rem;
  margin-top: 2rem;
}
@media (max-width: 950px){
  .wi-side{
    width: 100%;
  }

  .bg-black-super{
    width: 100%;
    background-image: url('../../../assets/Img/RickAndMorty2.gif');
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
  }
.main-content{
  margin: 2.5%;
}
}
