.info {
  overflow: hidden scroll;
  scrollbar-width: none;
}
.episodes {
  width: 15rem;
  height: 50vh;
  margin-left: 3%;
  padding: 2rem;
  position: absolute;
  top: 3%;
  right: 5%;
  transition: translate(-5%);
  overflow-y: scroll;
  scrollbar-width: thin;
}

h1 {
  text-align: center;
  width: 100%;
}

main {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 2rem;
  position: relative;
}
div{
  width: 65%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
img {
  width: 17rem;
  height: 17rem;
  border-radius: 50%;
  position: relative;
  top: 15%;
  left: -5%;
}
li {
  list-style: none;
}

@media (max-width: 950px) {
  .episodes {
    width: 15rem;
    height: 5rem;
    padding: 2rem;
    position: relative;
    overflow-y: hidden scroll;
    scrollbar-width: thin;
  }
  div{
    width: 100%;
    margin-left: -5%;
  }
  img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    position: relative;
    top: 0.1rem;
  }

  img {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    position: relative;
  }
}
