div {
  width: auto;
  height: 99vh;
  margin-left: -3rem;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.title {
  width: 18rem;
  height: 6rem;
  position: absolute;
  top: 2%;
  right: 2%;
  border-radius: 4rem;
}
.character-principal {
  margin-left: 5rem;
  position: absolute;
  left: 2rem;
  top: 3rem;
  transition: all 0.5s;
  cursor: pointer;
}
.principal-2 {
  position: absolute;
  right: 1rem;
  margin: 3rem;
  bottom: 0;
}
@media (max-width: 800px) {
  .title {
    position: relative;
    top: 1rem;
    left: 50%;
    transform: translate(-50%);
  }
  div {
    width: auto;
    height: 99vh;
    margin-left: auto;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }
  .character-principal {
    position: relative;
    top: 1rem;
    left: 10%;
  }
  .principal-2{
    position: relative;
    bottom: 1rem;
    top: 1rem;
    left: 10%;

  }
}
