div {
  width: auto;
  height: 99vh;
  margin-left: -3rem;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.title {
  width: 18rem;
  height: 6rem;
  position: absolute;
  top: 2%;
  right: 2%;
  border-radius: 4rem;
}
.character-principal {
  margin: 3rem;
  width: 20%;
  border-radius: 50%;
  position: absolute;
  transition: all 0.5s;
  cursor: pointer;
}
.character-principal:hover {
  width: 25%;
}
.principal-2 {
  margin: 3rem;
  bottom: 0;
  right: 0;
}
@media (max-width: 800px) {
  .title {
    top: 50%;
    left: 50%;
    transform: translate(-50%);
  }
  div {
    width: auto;
    height: 99vh;
    margin-left: auto;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }
}
