/* You can add global styles to this file, and also import other style files */
:root{
  --bgImg : url('./assets/Img/RickAndMorty.gif');
  --bgImgMovil: url('./assets/Img/RickAndMorty2.gif');
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: hidden scroll;
  background-image: var(--bgImg);
}
*::-webkit-scrollbar{
  width: 0%;
}


@media (max-width: 950px) {
  body{
    background-image: var(--bgImgMovil);
  }
}
